<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="catalog_product_save_before">
    <observer name="sachin_test_product_image_observer" instance="Sachin\Test\Observer\SetProductImageObserver" />
  </event>
</config>